@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

table,td ,tr,th {
    border: 5px solid black;   
    border-radius: 2px;
    border-collapse: collapse;
}
ol, li{
    font-size: large;
}
td {
    text-align: center;
}
#Spec {
    color: red;
    font-size: 5px;
}

* {
    font-family: "Silkscreen", sans-serif;
}
span{
    font-weight: 500;
}