  .hpl {
      border: 5px;
      border-radius: 10px;
      padding: 10px;
      border-radius: solid;
      background-color: crimson;
      color: black;
  }

  a:hover {
      color: lightseagreen;
        background-color: seagreen;
  }